* text=auto !eol
/pom.xml -text svneol=unset#application/xml
src/main/java/org/onehippo/forge/hst/spring/support/CachingRepositoryResourceBundleMessageFormatProvider.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/spring/support/HstRepositoryResourceBundleMessageSource.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/spring/support/RepositoryResourceBundleMessageFormatProvider.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/spring/support/util/HstLocalizationUtils.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/spring/support/web/HstBridgeHandlerExceptionsResolver.java -text svneol=unset#text/plain
src/main/java/org/onehippo/forge/hst/spring/support/web/HstPageNotFoundException.java -text svneol=unset#text/plain
src/site/checkstyle.xml -text svneol=unset#application/xml
src/site/site.xml -text svneol=unset#application/xml
src/site/xdoc/build-from-source.xml -text svneol=unset#text/plain
src/site/xdoc/feature-pagenotfound.xml -text svneol=unset#text/plain
src/site/xdoc/feature-repobundlemsgsource.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text svneol=unset#application/xml
src/site/xdoc/install.xml -text svneol=unset#text/plain
src/site/xdoc/release-notes.xml -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/hst/spring/support/HstRepositoryResourceBundleMessageSourceTest.java -text svneol=unset#text/plain
src/test/java/org/onehippo/forge/hst/spring/support/util/HstLocalizationUtilsTest.java -text svneol=unset#text/plain
src/test/resources/org/onehippo/forge/hst/spring/support/MessageResources.properties -text svneol=unset#text/plain
src/test/resources/org/onehippo/forge/hst/spring/support/MessageResources_en.properties -text svneol=unset#text/plain
